.quiz_container {
  /* background-color: aliceblue; */
  width: 60%;
  min-width: 700px;
  height: 60%;
  margin-bottom: 40px;
}

#quiz_navigator,
#quiz_each_result {
  border-top: 2px dashed rgb(235, 235, 235);
  padding-top: 30px;
  position: absolute;
  bottom: 30px;
  width: 50%;
  min-width: 500px;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.15s;
}

#quiz_navigator > button,
#quiz_each_result > button {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 20px;
  border-radius: 10px;
  min-width: 120px;
  transition: all ease 0.15s;
}

.quiz_progress_container {
  font-size: 1.4rem;
  display: flex;
  gap: 10px;
}

#quiz_each_result_status {
  font-weight: 500;
  font-size: 1.4rem;
}
