#chapter_container {
  position: sticky;
  top: -20px;
  padding-top: 20px;
  background-color: var(--bg-color);
  width: 100%;
  z-index: 55;
}

#chapter_button {
  justify-self: center;
  display: block;
  color: white;
  background-color: var(--orange);
  border: 4px dashed transparent;
  /* border: 2px solid var(--active-color); */
  padding: 10px 30px;
  border-radius: 16px;
  width: 500px;
  text-align: center;
  transition: all ease 0.3s;
}
#chapter_button:hover {
  border: 4px solid var(--active-color);
  box-shadow: 0px 2px 16px 6px var(--shadow-color);
}

#chapter_label {
  font-size: 1.6rem;
  font-weight: 700;
}

#lessons_container {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  width: 32%;
  min-width: 260px;
}
#lessons_container > * {
  position: relative;
  /* margin-top: -10px; */
}
#lessons_container > :nth-child(4n + 1) {
  align-self: flex-start;
}
#lessons_container > :nth-child(4n + 2) {
  left: -15px;
}
#lessons_container > :nth-child(4n + 4) {
  left: 15px;
}
#lessons_container > :nth-child(2n) {
  align-self: center;
  /* margin-top: -20px; */
  margin-bottom: 10px;
}
#lessons_container > :nth-child(4n + 3) {
  align-self: flex-end;
}

.help_container {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 40px 0;
}
.help_container:hover img {
  animation: shaking2 0.5s ease infinite;
}
@keyframes shaking2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
