#profile_icon_container {
  position: absolute;
  top: 30px;
  right: 40px;
}

#profile_icon_container svg {
  fill: var(--svg-color);
}

#profile_icon {
  float: inline-end;
  position: sticky;
  border-radius: 100%;
  width: 60px;
  padding: 0.6em 1.2em;
  aspect-ratio: 1;
  outline: none;
  background-color: var(--active-color);
  outline: 4px solid var(--active-color-secondary);
  z-index: 99;
  transition: all ease 0.15s;
}
#profile_icon:hover {
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.1);
}
#profile_icon:hover #profile_box,
#profile_icon:focus #profile_box {
  opacity: 1;
  visibility: visible;
  transform: translateY(22%);
}

#profile_level_value {
  font-weight: 700;
  color: var(--default);
  background-color: var(--svg-color);
  /* outline: 2px solid var(--default); */
  width: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile_level_value.icon {
  width: 24px;
  font-size: small;
  position: relative;
  transform: translate(95%, 110%);
}

#profile_box {
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.15s;
  width: 220px;
  background-color: var(--default);
  box-shadow: 0px 2px 10px -3px var(--shadow-color);
  position: absolute;
  right: 0;
  transform: translateY(16%);
  padding: 16px 20px;
  border-radius: 14px;
  transition: all ease 0.15s;
}

#profile_user_container {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 6px;
}
#profile_user {
  flex: 1;
  text-align: left;
  cursor: pointer;
}
#profile_logout {
  padding: 8px;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}
#profile_logout:hover {
  box-shadow: 0px 2px 10px -3px var(--shadow-color);
}

#profile_status {
  margin-top: 4px;
  gap: 4px;
}
.profile_status_label {
  width: 30%;
  text-align: left;
  text-transform: uppercase;
  margin-right: 10px;
  color: var(--text-color-secondary);
}
.profile_status_value {
  font-weight: 600;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile_status_level_bar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(245, 245, 245);
  outline: 3px solid rgb(235, 235, 235);
  color: var(--svg-color);
  font-weight: 500;
  height: 1rem;
  border-radius: 100px;
  line-height: 1;
  overflow: hidden;
  text-align: center;
}
.profile_status_exp_value {
  font-weight: 600;
  position: absolute;
  text-align: center;
  margin-left: 10px;
}
.profile_status_level_bar_value {
  background-color: var(--success);
  height: 100%;
  width: 60%;
}
