#chapter_container {
  position: sticky;
  top: -20px;
  padding-top: 20px;
  background-color: var(--bg-color);
  width: 100%;
  z-index: 55;
}

#chapter_button {
  justify-self: center;
  display: block;
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(235, 235, 235);
  padding: 10px 30px;
  border-radius: 16px;
  width: 500px;
  text-align: center;
  transition: all ease 0.15s;
}
#chapter_button:hover {
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.1);
}

#chapter_label {
  font-size: 1.6rem;
  font-weight: 500;
}

#lessons_container {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  width: 32%;
  min-width: 260px;
}
#lessons_container > * {
  position: relative;
  margin-top: -10px;
}
#lessons_container > :nth-child(4n + 1) {
  align-self: flex-start;
}
#lessons_container > :nth-child(4n + 2) {
  left: -15px;
}
#lessons_container > :nth-child(4n + 4) {
  left: 15px;
}
#lessons_container > :nth-child(2n) {
  align-self: center;
  /* margin-top: -20px; */
  margin-bottom: 10px;
}
#lessons_container > :nth-child(4n + 3) {
  align-self: flex-end;
}
