#bakery_ribbon .logo_container {
  width: 140px;
}

.bakery_logo {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  height: 100%;
  color: var(--orange);
}

.bakery_logo::before {
  content: "";
  border-left: 4px solid var(--orange);
  margin-right: 1rem;
}

.bakery_toolbar {
  margin-left: auto;
  margin-right: 100px;
  z-index: 55;
  gap: 10px;
}

.bakery_toolbar button {
  height: 100%;
  padding: 0;
  color: var(--text-color-secondary);
}

.bakery_tip {
  margin: 0 auto;
  width: 20%;
  height: 50px;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--default);
  color: var(--text-color-secondary);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bakery_baking_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  width: 100%;
  height: 175px;
  background-color: var(--default);
  bottom: 0;
  padding: 0.8rem 2rem;
  padding-bottom: 1.5rem;
  z-index: 999;
  transition: all ease-out 0.3s;
}

.bakery_baking_container.expand {
  height: 400px;
}

.bakery_baking_container .expand_button {
  background-color: var(--default);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  border-radius: 0 1rem 0 0;
  padding: 0.5rem 2rem 0.5rem 2.5rem;
  min-width: fit-content;
}

.baking_filter_container {
  width: 10%;
  height: 100%;
  padding-top: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.baking_filter {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--text-color-secondary);
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
}

.baking_filter:not(.checkbox_container) {
  background-color: var(--bg-color);
}

.baking_filter svg {
  color: var(--text-color-secondary);
}

.baking_filter input,
.baking_filter select {
  width: 100%;
  color: var(--text-color-secondary);
  background-color: var(--bg-color);
  transition: all ease 0.2s;
}

.baking_filter input:focus,
.baking_filter select:focus {
  color: var(--text-color);
}

.baking_filter.checkbox_container input,
.baking_filter.checkbox_container label {
  cursor: pointer;
}

.baking_filter input.checkbox {
  width: fit-content;
  margin-right: 0.4rem;
  opacity: 0.5;
}

.baking_filter input.checkbox:checked {
  opacity: 0.8;
}

.baking_items_container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  flex-wrap: nowrap;
}

.bakery_baking_container.expand .baking_items_container {
  flex-wrap: wrap;
}

.baking_item {
  cursor: pointer;
  min-width: 200px;
  width: 200px;
  height: 100%;
  max-height: 140px;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  transition: all ease 0.15s;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baking_item_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.baking_item_img img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

.baking_item_label {
  position: absolute;
  transform: translateY(165%);
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  background-color: var(--bg-color);
}

.baking_item:hover {
  background-color: var(--hover-color-default);
}

.baking_item.active {
  background-color: var(--active-color);
}

.comp:hover .comp_hover {
  opacity: 1;
  bottom: -10%;
  transform: translateX(-50%) scale(1);
}

.comp_hover {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  background: var(--default);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  opacity: 0;
  transition: all ease 0.15s;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.comp_hover_name {
  /* font-size: 1.1rem; */
  font-weight: 600;
}

.comp_hover button {
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  min-width: fit-content;
}

/* Breadboard */

.bb_body {
  width: 800px;
  height: 520px;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: var(--default-alt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: 8px solid var(--orange);
}

.bb_break {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  width: 100%;
  border-bottom: 0.2rem dashed var(--light);
}

.bb_vol {
  padding: 0.2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bb_part {
  width: 100%;
  height: 150px;
  /* background-color: var(--active-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bb_part.top {
  border-radius: 1rem 1rem 0 0;
}

.bb_part.bot {
  border-radius: 0 0 1rem 1rem;
}

.bb_part th {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.bb_part_sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0;
  /* margin-bottom: 0.5rem; */
  gap: 0.5rem;
}

.bb_part_pin_container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bb_part_pin_label {
  color: var(--svg-color);
  font-weight: 600;
  /* margin-right: 0.1rem; */
}

.bb_pin {
  z-index: 1;
  padding: 0;
  min-width: 0;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--light);
  border: 2px solid var(--active-color-secondary);
}

.bb_pin:hover {
  border-color: var(--svg-color);
  background-color: transparent;
}

.bb_pin:not(.connected).selected {
  background-color: var(--orange-dark);
}

.bb_pin.connected {
  background-color: var(--success);
}

.bb_pin.vcc {
  background-color: #bf3321;
  box-shadow: 0 0 5px #bf3321;
  transition: all 0.2s ease;
}

.bb_pin.gnd {
  background-color: #1660b9;
  box-shadow: 0 0 5px #1660b9;
  transition: all 0.2s ease;
}