#close_button {
  position: absolute;
  top: 30px;
  right: 40px;
  transition: all ease 0.2s;
  cursor: pointer;
}

#close_button ellipse {
  fill: var(--orange);
  transition: all ease 0.15s;
}
#close_button:hover ellipse {
  fill: var(--svg-color);
}
