#sideBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  border-right: 4px solid transparent;
  border-image: repeating-linear-gradient(
    to bottom,
    var(--active-color-secondary) 0px,
    var(--active-color-secondary) 12px,
    transparent 12px,
    transparent 36px
  );
  border-image-slice: 1;
}

#sideBar svg {
  fill: var(--svg-color);
}

#sideBar .logo_container {
  margin: 10px 0;
  padding: 4px 14px;
}

aside {
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  overflow: hidden;
  text-transform: uppercase;
  color: var(--text-color-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 14px; /* items box size */
  border-radius: 8px;
  line-height: 0%;
  outline: 4px dashed transparent;
  transition: all ease 0.15s;
  /* border: 2px soli; */
}
.navItems.active {
  background-color: var(--active-color);
  outline: 4px solid var(--active-color-secondary);
  color: var(--text-color);
}
.navItems:not(.active):hover {
  background-color: var(--hover-color-default);
  /* color: #540f5c; */
}

/* Responsive */
@media screen and (max-width: 900px) {
  .navItems {
    justify-content: center;
  }
  .navItems_label {
    display: none;
  }
}
