.logout_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
