:root {
  --pr: 14px;
}

#sideBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 4px solid transparent;
  border-image: repeating-linear-gradient(
    to bottom,
    var(--active-color-secondary) 0px,
    var(--active-color-secondary) 12px,
    transparent 12px,
    transparent 36px
  );
  border-image-slice: 1;
}

#logoContainer {
  width: 100%;
  margin: 10px 0;
  padding: 4px var(--pr);
  display: flex;
  gap: 12px;
  align-items: center;
}
.bake-a-board {
  cursor: pointer;
  font-family: "Atma";
  color: var(--orange);
  font-weight: 900;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 2.6rem;
  line-height: 40px;
  transition: all ease 0.2s;
}
.bake-a-board:hover {
  font-size: 2.7rem;
}

aside {
  margin-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  overflow: hidden;
  text-transform: uppercase;
  color: var(--text-color-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px var(--pr); /* items box size */
  border-radius: 8px;
  line-height: 0%;
  outline: 4px dashed transparent;
  transition: all ease 0.15s;
  /* border: 2px soli; */
}
.navItems.active {
  background-color: var(--active-color);
  outline: 4px solid var(--active-color-secondary);
  color: var(--text-color);
}
.navItems:not(.active):hover {
  background-color: var(--hover-color-default);
  /* color: #540f5c; */
}
